// Definir colores en variables de Bootstrap
$custom-checkbox-bg: white;
$custom-checkbox-border: #ccc;
$custom-checkbox-checked-bg: #E74436; // Color cuando está marcado
$custom-checkbox-checked-border: #E74436;
$custom-checkbox-checkmark: white; // Color del check
