@use '../global/colors';
@use '../utilities/bootstrap';

// Botón de inicio de sesión blanco
.btn-white {
    background-color: colors.$blanco;
    color: #E74436;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    width: 245px;
    height: 63px;;
}

.btn-white:hover {
    background-color: white;
    color: #E74436;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    width: 245px;
    height: 63px;;
}

.btn-white:active {
    background-color: colors.$blanco;
    color: #E74436;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    width: 245px;
    height: 63px;;
}



.btn-white-line {
    display: block;
    color: colors.$blanco;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: 2px solid;
    height: fit-content;
    color: colors.$blanco;
    
}


.btn-white-line:hover {
    display: block;
    color: colors.$blanco;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: 2px solid;
    height: fit-content;
    color: beige;
    
}



.btn-white-line:active {
    display: block;
    color: colors.$blanco;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    border: 2px solid;
    height: fit-content;
    color: beige;
    
}

.btn-circle{
    border-radius: 50% !important;
    height: 43px;
    width: 43px;
    align-items: center;
    justify-content: center;
    background-color: white;

    svg{
        height: 20px;
        fill: #E74436;
    }
}

/*Botones menú lateral*/

.sidebar{

    .user-menu{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 85%;
        
        .bton {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 0.8rem 1rem;
            width: 100%;
            border-radius: 4px;
            text-decoration: none;
            color: white;
            gap: 1rem;
          
           
            .user-menu__icon svg path {
              fill: white;
            }
          
            &:hover {
              background-color: white;
              color: bootstrap.$rojo-escoli;
          
          
              .user-menu__icon svg path {
                fill: bootstrap.$rojo-escoli;
              }
            }
          }

    }
   

}

.btn-volver{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bootstrap.$rojo-escoli;
    color: white;
    font-weight: 800;
    
}

/*registro 02: se estilizan botones de añadir y restar especialidad*/
