@use '../global/colors';
@use '../global/inputs';



.card-recover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__logo {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 100px;
    }

    .card {
        width: 655px;
        border: none;
        background-color: #E74436;

        &-body {
            padding: 0;

            p{
                color: white;
            }
            form{
                max-width: 551px;
                width: 100%;
                margin: 0 auto;

                label{
                    color: white;
                    font-weight: 500;
                }

                input{
                    height: 50px;

                    
                }

                .form-check-input{
                    height: 20px;
                    width: 20px;
                }

                .ini-sesion{
                    color:  white;
                }

                .inicia-sesion {
                    a{
                        color: white;
                      
                        font-size: 1rem;
                        font-weight: 300;
                        text-decoration: underline !important;
                    }
                    
                }
                   
            }

        }

        h2 {
            color: white;
        }
    }
}

