@use '../global/colors';
@use '../global/inputs';

// Definir colores en variables de Bootstrap
$custom-checkbox-bg: white;
$custom-checkbox-border: #ccc;
$custom-checkbox-checked-bg: #E74436; // Color cuando está marcado
$custom-checkbox-checked-border: #E74436;
$custom-checkbox-checkmark: white; // Color del check


.card-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__logo {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 100px;
    }

    .card {
        width: 655px;
        border: none;
        background-color: #E74436;

        &-body {
            padding: 0;

            ul.nav-tabs {
                display: flex;
                justify-content: space-around;
                border-bottom: none;

                li {
                    width: 50%;
                    text-align: center;
                    position: relative;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        color: #E74436;

                        font-size: 24px;
                        font-weight: 400;
                        padding: 12px 0;
                        width: 100%;
                        border: none;
                        background: white;
                        transition: all 0.3s ease-in-out;
                        border-radius: 0;
                        position: relative;
                        z-index: 1;

                        span {
                            display: block;
                            width: 60px;
                            height: 60px;

                            .typeuser-icon{
                                fill: #E74436;
                            }
                        }
                    }

                    .active {
                        background-color: #E74436;
                        color: white;
                        border-radius: 12px 12px 0 0; // Bordes redondeados superiores
                       
                        position: relative;
                        overflow: hidden;

                        .typeuser-icon {
                            fill: white;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -12px; // Ajuste para la pestaña izquierda
                            width: 24px;
                            height: 24px;
                          
                            
                        }

                        &.right::before {
                            left: auto;
                            right: -12px; // Ajuste para la pestaña derecha
                            clip-path: polygon(0 0, 100% 100%, 0 100%);
                        }
                    }
                }
            }

            form{
                max-width: 551px;
                width: 100%;
                margin: 0 auto;

                label{
                    color: white;
                    font-weight: 500;
                }

                input{
                    height: 50px;

                    
                }

                .inicia-sesion {
                    a{
                        color: white;
                      
                        font-size: 1rem;
                        font-weight: 300;
                        text-decoration: underline !important;
                    }
                    
                }

                .form-check-input{
                    height: 20px;
                    width: 20px;
                }

               
                   
            }

        }

        h2 {
            color: white;
        }
    }
}

